
QWidget{
    background-color: #05192F;
}

QFrame#background-inp{
    background-color: #13263C;
    border: 2px solid #056CE7;

}
QLabel#layout{
    background-color: #13263C;
    
}
QLabel#titulo{
    font-size: 15px;
    font-weight: bold
}

QPushButton#btn_confirmar{
    background-color: #056CE7
}
QPushButton#btn_cancelar{
    background-color: #334A68
}


Azul = #13263C

Azul escuro = #05192F

Azul claro = #056CE7

Vermelho = #D62039

Branco = #F0FDFF

Azul = #93B9D6 

Azul = #334A68

Verde = #2FA94B