QMainWindow {
    background-color: #13263C;
}

QDialog, QMessageBox {
    background-color: #05192F;
}


QPushButton#botaoInicial {
    background-color: #056CE7;
    color: #F0FDFF; 
}


QPushButton#botaoSaida {
    background-color: #D62039;
    color: #F0FDFF; 
}


QPushButton#botaoCancelar {
    background-color: #334A68;
    color: #F0FDFF; 
}


QLabel#lblMenor, QStatusBar {
    color: #93B9D6;
}


QLabel#lblIconeConfirmado {
    color: #2FA94B;
}